/*登录页面*/
*{padding: 0;margin: 0;font-family: "微软雅黑"; font-size: 14px;}
img{border:0px;}
#head{height: 100px; line-height: 100px; width: 1000px;margin: auto;background-color: #fff;}
#main{background-color:#ff5a00;}
#login{background-image:url(../images/main.png);background-repeat: no-repeat; position:relative;margin:auto;width: 1000px;text-align: center;background-color:#ff5a00;height: 500px;}
#login-title{text-align: left;
    padding-left: 1em;
    color: #EA0000;
    margin-bottom: 30px;
    font-size: 1.3em;
    height: 50px;
    line-height: 40px;
    border-bottom: 2px solid #FF5A00;}
#login-content{     top: 78px;
    right: 6%;
    background-color: #fff;
    position: absolute;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: solid 1px #ccc;
    padding-bottom: 43px;}
.input-box{margin-top: 10px; height: 40px;line-height: 40px;}
.input-box input{ text-indent: 1em; border-radius: 2px;width: 260px;height: 30px;border: 1px solid  #C0C0C0;}
.input-box span{font-size: 1.2em;}
.submit-box{margin-top: 30px;text-align:center;}
.submit-box input[type=submit]{ font-size: 1.1em;height: 40px; width:260px;border-radius: 3px; border: none;background-color: #EA0000;color: #fff;padding: 5px 20px;}
#footer{ color: #96979d;border-top:1px solid #efefef ;width: 1000px;margin: auto; text-align: center; height: 80px; line-height: 80px;margin-top: 50px;}
/*首页*/
#nav{ height:60px;width: 100%;background:#ff5a00; }
#nav-bar{width:1000px;height:60px;margin: auto;position: relative; }
#search-area{position: absolute;top: 15px;right: 20px;}
#search-area input[type="text"]{width: 200px;height: 30px; border:none;border-radius: 13px;text-indent: 1em;}
#search-area input:focus{outline:none; }
.btn-default{border: none;border-radius: 4px;}
.btn-search{padding: 5px 10px;width: 60px;color:#fff;background-color:#ff5a00;border: 1px solid #fff;}
#main-content{ min-height: 500px; overflow: hidden; margin: auto; width:1000px;}
.status{width:1000px;height: 42px;margin-top: 50px; }
.user-info{ margin-left: 220px;  padding:5px 15px; float: left;}
.user-info span{color: #FF772D;}
.balance span{color:#FF772D;}
.balance{float: left;margin-left:30px;padding:5px 15px;}
.cart{position: relative;
    text-indent: 2em;
    float: right;
    background: url(../images/cart.png) no-repeat 5px;}
.status-box{padding:5px 5px;min-width:100px;color: #96979d;height: 30px;line-height: 30px;text-align: center;border: 1px solid #f2f2f2;}
.nav-title{margin-bottom: 20px; margin-top: 50px; border-bottom:1px solid #B0B0B0 ; height: 50px;line-height: 50px;font-size: 1.3em;color: #5e626b;}
/*首页 导航*/
.nav-ul{list-style: none;position: absolute;left: 260px; top:0px;}
.nav-ul li{display: inline-block;width: 100px;text-align: center;height: 60px;line-height: 60px;}
li.li-now{background:url(../images/li.png);}
a.nav-a:link,a.nav-a:visited{color: #fff;text-decoration: none;}
a.nav-a:hover,a.nav-a:active{}
 /* 首页 轮播*/
 .banner{ width:1000px; height:380px;margin: auto; margin-top:50px;overflow:hidden; position:relative;font-size:0}
.b-img{ height:380px;  position:absolute; left:0; top:0;}
.b-img a{ display:block; height:380px; float:left;}
.b-list{width: 100%;text-align: center; height:20px; padding-top:358px; position:relative; margin:0 auto;z-index:1;}
.b-list span{display:block;cursor:pointer; width:10px; height:10px; border-radius:50%; background-color: #fff; float:left; margin:0 5px; _margin:0 3px;}
.b-list .spcss{background-color:#ff5a00;}
.bar-left{ position:absolute; z-index:1; display:block; width:80px; height:100%; left:0px; background:none; top:0px; }
.bar-right{ position:absolute;z-index:1; display:block; width:80px; height:100%; right:0px; background:none; top:0px; }
.bar-left em{ display:block; width:50px; height:100px; background:url(../images/arrow.png) 0px 0px no-repeat; margin:0 auto; 
    margin-top:130px;}
.bar-right em{ display:block; width:50px; height:100px; background:url(../images/arrow.png) -50px 0px no-repeat; margin:0 auto;
 margin-top:130px;}
 .b-list-bg{background-color: rgba(0,0,0,0.1); width: 100%; position: absolute;bottom: 0; height: 30px;}
.bar-left .emcss{ background-position:0px -100px;}
.bar-right .emcss{ background-position:-50px -100px;}
 /*首页商品列表*/
.goods-list{}
.goods-ul{ list-style-type: none;background-color:#F0F0F0;padding-bottom: 20px; }
.goods-ul li{background-color: #fff; margin-top: 20px; margin-left:10px; border: 1px solid #f2f2f2; padding: 10px 0 30px; text-align: center; display: inline-block; width: 232px;}
.good-price{color:#FF4E00;font-size: 1.2em;height: 30px;}
.good-introduce{width: 232px; overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}

/*购物车*/
#cart-content{
    display: none;
    width: 320px;
    position: absolute;
    top:40px;
    right: -1px;
    z-index: 3;
    background-color: #fff;
    border:1px solid #f2f2f2;
}
.cart-ul{
    list-style: none;
    padding: 0;
}
.cart-ul li{   
    width: 310px;
    margin:0 5px;
    height: 55px;
    text-align: left;
    
    border-bottom: 1px #ccc dashed;
}
.cart-ul li img{float: left;margin-left: 10px;}
a.cart-list-a:link,a.cart-list-a:visited
{
    text-indent: 0;
    font-size: 0.8em;
    display: block;
    color: #000;
    text-decoration: none;
    float: left;
    height: 50px;
    margin-left: 10px;
    line-height: 50px;
    width: 100px;
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a.cart-list-a:hover,a.cart-list-a:active
{
    text-decoration: underline;
}
span.cart-list{
  text-indent: 0;  
  font-size: 0.7em;
  display: block;
  margin-left: 10px;
  height: 50px;
  line-height: 50px;
  float: left;
}
span.cart-list-amount
{
    width: 30px;   
}
span.cart-list-price
{
    color: #FF4E00;
    width: 50px;
    text-indent: 0;
}
.btn-cart-del{
     color: #FF4E00;
    text-indent: 0;  
    font-size: 0.7em;
    line-height: 50px;
    height: 50px;
    background: none;
    float: left;
     
   

}
.cart-sumer{
   text-indent: 0;
    height: 40px;
    line-height: 40px;

   
}
.cart-sumer span{
    font-size: 0.9em;
}
#total{
   color: #FF4E00; 
}
/*商品详情页面*/
.detail-content{ margin-top: 50px; width: 1000px;min-height: 400px;}
.clearfix:after{content: "";clear: both;}
.img-area{text-align: center; float: left;width: 400px;height:400px; }
.introduce-area{height:400px;overflow: hidden;}
.dt-intro{height: 70px; padding: 15px;}
.dt-price{height: 30px;padding: 10px 15px;background-color: #F2F2F2;}
.dt-count{height: 50px;padding:0 15px;background-color: #F2F2F2;}
.detail-content .sm{font-size: 0.8em;color:#787777;}
.detail-content .danger{color:#C83209;}
.dt-price .sm{font-size: 0.8em;color:#787777;}
.dt-price .big{font-size: 1.3em;color:#FF4E00;margin-left: 20px; }
.dt-count .sm{font-size: 0.8em;color:#787777;}
.dt-count .mid{font-size: 1.0em;color:#C83209;margin-left: 20px; }
.dt-confirm{padding:  0 15px;}
.dt-confirm input[type="text"]{height: 36px; color: #4F4F4F;width: 65px;text-align: center; }

.btn-amount{ border: #C0C0C0 1px solid; color: #979797;background-color: #fff;width: 36px; height: 36px; padding: 2px;}
.amount-area{margin-top: 20px;height: 50px;}
#amount-del{margin-left: 20px;}
#atten{margin-left: 10px;}
span.le{margin-left: 10px;}
.amount-area{}
.submit-area{margin-top: 10px;}
.btn-buy{padding: 5px 15px;width: 200px;height: 40px;background-color:  #FF5A00;color: #fff;}
.btn-cart{border:solid 1px #FF5A00;  padding: 5px 15px;width: 200px;height: 40px;background-color: #FFEBE0;color: #FF5A00;margin-left: 30px;}
/*个人信息页面*/
.person-info{border: 1px solid #E5E0E0;margin-top: 30px;background-color: #fff;}
.info-change{}
.item {height: 40px;line-height: 40px;padding-left: 30px;}
.item span{display: inline-block;width: 3em;text-align: right;}
.info-change{background-color:;}
.info-change h3{margin-left: 20px;margin-top: 5px;}
.info-now h3{margin-left: 40px;margin-top: 5px;}
.info-change form{margin:20px; }
.info-now{margin-bottom: 30px;}
.tb-info{margin-left: 50px;}
.tb-default{border-collapse:collapse;text-align: center;color: #1f262d;}
.tb-default th{ font-size: 1em; font-weight: normal;border: solid 1px #cdcdcd;
    padding: 10px 5px;min-width: 50px;background-color: #EDEDED;}
.tb-default td{ padding:10px 5px; border: solid 1px #cdcdcd; font-size: 1em;}
.btn-change{padding:5px 15px;color: #fff;background-color: #FF5A00; margin-left: 70px;}


/*订单详情页面*/
.order-info{min-height:400px;  border: 0px solid #E5E0E0;margin-top: 30px;background-color: #fff;}
.order-li{ margin: 20px auto;}
.tb-order th{background-color:#F6F6F6;}
.max-th{min-width: 300px;}
.tb-order td { max-width: 20em; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
td.num-td{}
td.mon-td{color: #ff4420;}